body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-transparent {
    background-color: transparent;
}

body {
  overflow-x: hidden;
}
.overflow-hidden {
  overflow: hidden;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.border-1 {
  border: 1px solid #ccc;
  border-radius: .7em;
}

/* Sidebar */

.sidebar {
  display: inline-flex;
  flex-direction: column;
  width: 50px;
  min-width: 50px;
  min-height: 100vh;
  overflow: hidden;
  transition: all 500ms ease;
}


.sidebar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
}

.sidebar-text {
  /*width: 200px;*/
  white-space: nowrap;
  padding-right: 20px;
}

.sidebar-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 300px;
}

.sidebar a:hover,
.sidebar button:hover {
	text-decoration: none;
}

/*
.sidebar a:active i,
.sidebar button:active i,
*/
.sidebar a:hover i,
.sidebar button:hover i {
  transform: scale(1.5);
}

 /* ======== */

/* Buttons and links */
button {
  cursor: pointer;
}

button:focus, button:active {
   outline: none;
}

.btn-transparent {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 0px;
}

/* =========== */

/* Width */
.w-auto {
  width: auto!important;
}

.w-50p {
	width: 50px!important;
}

.w-100p {
	width: 100px!important;
}

.min-250 {
  min-width: 250px!important;
}

.max-500 {
  max-width: 500px!important;
}

.max-750 {
	max-width: 750px!important;
}

/* ======== */


/* Text */

.text-lightgrey {
  color: #ccc!important;
}

/* ======= */

@media (max-width: 767px){
	.border-bottom-lightgrey {
		border-bottom: 1px solid #ccc;
	}
}
